.img{
  height: 300px;
  width: 100%;
}
.ImgList{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  gap: 20px;
}
.list-item{
  cursor: pointer;
  overflow: hidden;
  min-width: 350px;
  border-radius: 10px;
  transition: .5s ease-in-out;
  box-shadow: 10px 10px 30px rgb(0, 124, 128);
}
.list-item:hover{
  transform: scale(1.2);
}
body {
  background: linear-gradient(135deg, #d4af3756, #40E0D0);
  background-size: cover;
}
*{
  list-style: none;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
.revItem{
  font-size: 20px;
  line-height: 200%;
  width: 100%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.166);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
.deletebtn{
  border: 2px solid red;
  padding: 12px;
  background: transparent;
  color: red;
}
.liked{
  box-shadow: 2px 1px 20px orchid;
  border: 1px solid pink;
  color: pink;
}